<div class="container-fluid">
  <div class="row">
  <%= render "layouts/side_nav" %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">All Problems</h1>
      <%= form_tag problems_path, :method => 'get' do %>
        <div class="form-group">
          <%= text_field_tag :query, params[:query] %>
          <%= submit_tag "Search", :name => nil %>
        </div>
      <% end %>
      <div id="tag_cloud">
        <% tag_cloud Problem.tag_counts, %w(css1 css2 css3 css4) do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
        <% end %>
      </div>
      <%= link_to 'New Problem', new_problem_path, class: "btn btn-primary" %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th ><%= sortable 'title' %></th>
              <th ><%= sortable 'solutions_number', 'Solutions' %></th>
              <th >'Tags'</th>
              <th ><%= sortable 'source_title', 'Source' %></th>
              <th ><%= sortable 'created_at', 'Created' %></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @problems.each do |problem| %>
            <tr>
              <td ><%= link_to problem.title, problem %></td>
              <td  ><%= problem.solutions_number %></td>
              <td  ><%= raw problem.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
              <%if problem.source_title == nil%>

                <td ><%= problem.source_title = "Project Euler" %></td>
              <%else%>
                <td ><%= problem.source_title %></td>
              <%end%>
              <td ><%= problem.created_at.strftime("%B %e, %Y") %></td>
            </tr>
          <% end %>
          <div class="center">
             <%= will_paginate @problems, renderer: BootstrapPagination::Rails %>
          </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>