
<div class="content">
  <h1>All Problems</h1>

  <%= link_to 'New Problem', new_problem_path, class: "btn btn-6 btn-6c" %>
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Newest</a></li>
  <li><a href="#">Solved</a></li>
  <li><a href="#">Popular</a></li>
</ul>
  <div class="list-group">
<% @problems.each do |problem|%>
 <div class= "list-group-item">
    <h4 class="list-group-item-heading"><%=link_to problem.title, problem%> <span class="badge pull-right"><%= problem.created_at.strftime("%B %e, %Y") %></span><span class="badge"><%= problem.solutions_number %></span></h4>
    <p class="list-group-item-text"><%=h truncate(problem.description, :length => 140) %></p>
 </div>
<%end%>
  </div>

  

<ul class="pagination">
 <li><%= will_paginate @problems  %></li>
</ul>

</div>

