<div id="container" class="container">  
  <nav id="bt-menu" class="bt-menu">
    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
    <%= render "layouts/header" %>
  </nav>
  <div class="bb-custom-wrapper">
    <div id="bb-bookblock" class="bb-bookblock">
      <div class="bb-item" id="item1">
        <div class="content">
          <div class="scroller">
          <h1>All Problems</h1>
          <%= link_to 'New Problem', new_problem_path, class: "btn btn-6 btn-6c" %>
          <table class="rwd-table">
          
              <tr>
                <th><%= sortable 'title' %></th>
                <th> Solutions </th>
                <th><%= sortable 'source_title', 'Source' %></th>
                <th><%= sortable 'created_at', 'Created' %></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>

            <% @problems.each do |problem| %>
              <tr>
                <td><%= link_to problem.title, problem %></td>
                <td><%= problem.solutions.count %></td>
                <%if problem.source_title == nil%>

                  <td><%= problem.source_title = "Project Euler" %></td>
                <%else%>
                  <td><%= problem.source_title %></td>
                <%end%>
                <td><%= problem.created_at.strftime("%B %e, %Y") %></td>
              </tr>
            <% end %>

          </table>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>