<div class="container">
	<h3> <%= @problem.title %></h2>
	<%= markdown @problem.description %>
	<p>
		Tags: <%= raw @problem.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
	</p>
		
		 <%= pluralize @problem.reputation_for(:votes).to_i, "vote" %>
	  | <%= link_to "up", vote_problem_path(@problem, type: "up"), method: "post" %>
	  | <%= link_to "down", vote_problem_path(@problem, type: "down"), method: "post" %>

	<h5> Source: <%= @problem.source_title %></h5>
	<p>
		<%= link_to @problem.source, @problem.source %>
	</p>
	<br>
	<% if user_signed_in? %>
	<%= link_to 'Submit a Solution', new_problem_solution_path(@problem), class: "btn btn-primary"%> 
		<% if current_user.try(:admin?) or @problem.user_id == current_user.id  %>
			<%= link_to 'Edit', edit_problem_path(@problem), class: "btn btn-warning" %> 
			<%= link_to 'Delete', @problem, class: 'btn btn-danger',  method: :delete, data: { confirm: 'Are you sure?' } %> 
		<% end %>
	<% end %>
	<%= link_to 'Back', problems_path, class: "btn btn-default" %>
	<br>
	<h4>Solutions</h4>	 
	<br> 
		<% @problem.solutions.each do |solution| %>
			<p>Title: <%= link_to "#{solution.title}" , problem_solution_path(@problem, solution)  %></p>
			<p>Answer: <%= raw Pygments.highlight(solution.answer, lexer: solution.language) %></p>
			<p>Language: <%=  solution.language %></p>
			<p>Submited by: <%= link_to solution.user.name,  user_path(solution.user.id) %></p>
		<% end %>
	<br>

	<%= render "comments/comments" %>
	<%= render "comments/form" %>
</div>


