<div id="container" class="container">  
  <nav id="bt-menu" class="bt-menu">
    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
    <%= render "layouts/header" %>
  </nav>
  <div class="menu-panel">
    <ul id="menu-toc" class="menu-toc">
    <h2><span>Problems</span></h2>
    <%= link_to 'CREAT A NEW PROBLEM', new_problem_path %>
    <table>
        <thead>
          <tr>
          <th>Title</th>
          </tr>
        </thead>
        <tbody>
      <%@problem.each do |problem|%>
      <tr>
        <%if problem.user_id == @user.id %>
          <td><%= link_to problem.title, problem %></td>
        <% end %>
      <%end%>
      </tr>
      </tbody>
      </table>
    </ul>
  </div>
  <div class="side-panel">
    <ul id="side-toc" class="side-toc">
    <h2>Solutions</h2>
      <table>
        <thead>
          <tr>
          <th>Solution To</th>
          <th>In</th>

          </tr>
        </thead>
        <tbody>
          <%@user.solutions.each do |solution|%>
            <tr>
            <% p_id = solution.problem_id %>
            <%problem = @user.problems.find{|a| a.id == p_id}%>
            <td><%= link_to problem.title, problem_solution_path(:problem_id => solution.problem_id, :id => solution.id) %></td>
            <td><%=  solution.language %>
          </tr>
          <%end%>
        </tbody>
      </table>
    </ul>
  </div>
  <div class="bb-custom-wrapper">
    <div id="bb-bookblock" class="bb-bookblock">
      <div class="bb-item" id="item1">
        <div class="content">
          <div class="scroller">
            <div class= "profile">
            <%= image_tag @user.avatar.url(:thumb) %>
            </div>
            <h1><%= @user.name %></h1>
            <p><%= @user.language %></p>
            <p><%= link_to "@#{@user.twitter}", "https://twitter.com/#{@user.twitter}" %></p>
            <p><%= link_to "#{@user.github}", @user.github %></p>
            <% url = @user.url %>
            <p><%= link_to "#{@user.url}" , url %></p>

            <div class="analytics">
            <p>You Added <%= @user.solutions.count %> Solutions to the Database</p>
            <p>You Added <%= @user.created_problems.count %>  Problems to the Database</p>
            <%languages = @user.solutions.map{|a| a.language}%>
            <%counts = Hash.new(0)%>
            <%languages.each { |name| counts[name] += 1 }%>
            <% counts.each do |key, value| %>
              <p><%= "Your solutions in #{key} :" + value.to_s %></p>
            <%end %> 
          </div>

          </div>
        </div>
      </div>
    </div>
    <span id="tblcontents" class="menu-button">
      <%= image_tag('flask.png', :size=>'50x50') %>
    </span>
    <span id="sidecontents" class="side-button">
      <%= image_tag('bulb.png', :size=>'50x50') %>
    </span>
  </div>
</div><!-- /container -->
