<div class="container">

  <div class="left-sidebar">
    <h2>Problems</h2>
    <%= link_to 'CREAT A NEW PROBLEM', new_problem_path %>
    <h2>Title</h2>
    <%if @created_problems.any? == true%>
      <%@created_problems.each do |problem|%>
        <li><%= link_to problem.title, problem %></li>
      <% end %>
    <%end%>
  </div>

  <div class="right-sidebar">
    <h2>Solutions</h2>
    <table>
        <thead>
          <tr>
          <th>Solution To</th>
          <th>In</th>

          </tr>
        </thead>
        <tbody>
          <%if @user.solutions.any? == true%>
          <%@user.solutions.each do |solution|%>
            <tr>
            <% p_id = solution.problem_id %>
            <%problem = @user.problems.find{|a| a.id == p_id}%>
            <td><%= link_to problem.title, problem_solution_path(:problem_id => solution.problem_id, :id => solution.id) %></td>
            <td><%=  solution.language %>
          </tr>
          <%end%>
          <%end%>
        </tbody>
      </table>
  </div>

  <div class="content">

    <div class="left-button"><%= image_tag('flask.png', :size=>'50x50') %></div>
    <div class="right-button"><%= image_tag('bulb.png', :size=>'50x50') %></div>
    <div class = "small">
    <span class="profile"><%= image_tag @user.avatar.url(:thumb) %><span>
    <h1><%= @user.name %></h1>
    <p><%= @user.language %></p>
    <p><%= link_to "@#{@user.twitter}", "https://twitter.com/#{@user.twitter}" %></p>
    <p><%= link_to "github", @user.github %></p>
    <% url = @user.url %>
    <p><%= link_to "www" , url %></p>


      <%languages = @user.solutions.map{|a| a.language}%>
      <%counts = Hash.new(0)%>
      <%languages.each { |name| counts[name] += 1 }%>
      <% @d_3 = []%>
      <% counts.each do |key, value| %>
        <% @d_3 << {"label" => key + " "+value.to_s, "value"=> value.to_s}%>
      <%end %> 
      <h2>your stats</h2>

      <svg id="test1" class="mypiechart"></svg>
      <svg id="test2" class="mypiechart"></svg>
      <svg id="test3" class="mypiechart"></svg>
      <ul>
        <% for friendship in @user.friendships %>
        <% if friendship.friend.name != nil%>
        <h2>following</h2>
          <li>
            <%= image_tag friendship.friend.avatar.url(:thumb) %>
            <%= link_to friendship.friend.name, user_path(friendship.friend) %>
            <%= link_to(image_tag('trash.png', :size=>'30x30'), friendship, :method => :delete) %>
          </li>
        <% end %>
        <% end %>
      </ul>
      </br>

      <ul>
        <% for user in @user.inverse_friends %>
          <% if user.name != nil%>
          <h2>followers</h2>
          <li>
            <%= image_tag user.avatar.url(:thumb) %>
            <%= link_to user.name, user_path(user) %>
          </li>
          <% end %>
        <% end %>
      </ul>
      </br>

    <%= render "layouts/user_dashboard" %>
  </div>
</div>
</div>
</div>

</div>
<script>

nv.addGraph(function() {
    var width = 300,
        height = 300;

    var chart = nv.models.pieChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .color(['#BDF271', '#29D9C2'])
        .showLabels(false)
        .width(width)
        .height(height);

      d3.select("#test1")
          .datum(data1)
        .transition().duration(1200)
          .attr('width', width)
          .attr('height', height)
          .call(chart);

    chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

    return chart;
});

nv.addGraph(function() {
    var width = 350,
        height = 350;

    var chart = nv.models.pieChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .color(['#6395FF', '#29D9C2'])
        .showLabels(false)
        .width(width)
        .height(height);

      d3.select("#test2")
          .datum(data2)
        .transition().duration(1200)
          .attr('width', width)
          .attr('height', height)
          .call(chart);

    chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

    return chart;
});

nv.addGraph(function() {
    var width = 300,
        height = 300;

    var chart = nv.models.pieChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .showLabels(false)
        .color([ '#50FFC5','#ACFF5D', '#54CCE8', '#6395FF','#54E868', '#F2295F'])
        .width(width)
        .height(height);

      d3.select("#test3")
          .datum(some_data)
        .transition().duration(1200)
          .attr('width', width)
          .attr('height', height)
          .call(chart);

    chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

    return chart;
});




var t_p_l = "Total Problems " + <%= @problem.count.to_json %>;
var t_y_p_l = "Your Problems " + <%= @user.created_problems.count.to_json %>;
var t_s_l = "Total Solutions " + <%= @solutions.count.to_json %>;
var t_y_s_l = "Your Solutions " + <%= @user.solutions.count.to_json %>;
var t_problem = <%= @problem.count.to_json %>;
var y_problem = <%= @user.created_problems.count.to_json %>;
var t_solution = <%= @solutions.count.to_json %>;
var y_solution = <%= @user.solutions.count.to_json %>;


//Pie chart example data. Note how there is only a single array of key-value pairs.
 var data1 = [
      {
        "label": t_p_l,
        "value" : t_problem
      } ,
      {
        "label": t_y_p_l,
        "value" : y_problem
      } 
]

 var data2 = [
      {
        "label": t_s_l,
        "value" : t_solution
      } ,
      {
        "label": t_y_s_l,
        "value" : y_solution
      } 
]

var some_data = <%= raw @d_3.to_json.chomp('"').reverse.chomp('"').reverse %>;

</script>


