<p><%= @user.name %></p>
<p><%= image_tag @user.avatar.url(:thumb) %></p>
<p><%= @user.language %></p>
<p><%= link_to "@#{@user.twitter}", "https://twitter.com/#{@user.twitter}" %></p>
<p><%= link_to "#{@user.github}", @user.github %></p>
 <% url = @user.url %>
<p><%= link_to "#{@user.url}" , url %></p>
<table>
	  <thead>
	    <tr>
	      <th>Solution To</th>
	      <th>In</th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
		<tbody>
		<%@user.solutions.each do |solution|%>
			<tr>
				<% p_id = solution.problem_id %>
				<%problem = @user.problems.find{|a| a.id = p_id}%>
				<td><%=  problem.title %></p>
				<td><%=  solution.language %></p>

				<td><%= link_to 'Show', problem_solution_path(:problem_id => solution.problem_id, :id => solution.id) %></td>
			</tr>
		<%end%>
		</tbody>
	</table>	