<div id="container" class="container">  
	<nav id="bt-menu" class="bt-menu">
		<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
		<%= render "layouts/header" %>
	</nav>
	<div class="bb-custom-wrapper">
		<div id="bb-bookblock" class="bb-bookblock">
			<div class="bb-item" id="item1">
				<div class="content">
    			<div class="scroller">
					<p id="notice"><%= notice %></p>

					<div class = "generic">
					  <h2 >solution to : <%= @problem.title %></h2>
					</div>
					<div class = "generic">
					  <h2 > <%= @solution.title %> </h2>
					  <h2>in : <%= @solution.language %></h2>
					</div>  
					  				  
				
					
	
					<div class = "problem_description"> <%= raw Pygments.highlight(@solution.answer, lexer: @solution.language) %>
					
					</div>
				
	<br>

					<% if current_user.try(:admin?) or @solution.user == current_user %>
						<%= link_to 'Edit', edit_problem_solution_path(@problem, @solution) %>
						<%= link_to 'Destroy', problem_solution_path(@problem, @solution), method: :delete, data: { confirm: 'Are you sure?' } %> 
					<% end %>
					
					<%= link_to 'Back', problem_path(@problem),  class: "btn btn-6 btn-6k" %>
					<%= render 'layouts/disqus' %>
    			</div>
				</div>
			</div>
		</div>
	</div>  
</div>