<div class="container-fluid">
  <div class="row">
    <%= render "layouts/side_nav" %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">All Solutions</h1>
       <%= form_tag solutions_path, :method => 'get' do %>
        <div class="form-group">
          <%= text_field_tag :query, params[:query] %>
          <%= submit_tag "Search", :name => nil %>
        </div>
      <% end %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Votes</th>
              <th>Title</th>
              <th>Answer</th>
              <th>User</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @solutions.each do |solution| %>
            <tr>
            <td ><%= solution.reputation_for(:votes).to_i%></td>
            <td><%= solution.title %></td>
            <td><%= solution.answer %></td>
            <td><%= solution.user.name if solution.user %></td>
            <td><%= link_to 'Show', problem_solution_path(solution.problem_id, solution) %></td>
            <% if current_user.try(:admin?) or solution.user == current_user %>
              <td><%= link_to 'Edit', edit_problem_solution_path(solution.problem_id, solution) %></td>
              <td><%= link_to 'Destroy', problem_solution_path(solution.problem_id, solution), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
          <% end %>
          <div class="center">
             <%= will_paginate @solutions, renderer: BootstrapPagination::Rails %>
          </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>