<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav navbar-right">
       <li class = "icons"><%= link_to 'CodeBeta', root_path %></li>
       <li class = "icons"><%= link_to 'About', about_path %></li>
      <% if user_signed_in? %>
        <li class = "icons"><%= link_to 'Problems', problems_path %></li>
        <li class = "icons"><%= link_to 'Profile', current_user %></li>
        <li class = "icons"><%= link_to 'Settings', edit_user_registration_path  %></li>

      	<li class = "icons"><%= link_to 'Log out', destroy_user_session_path, method: :delete  %></li>
      <% else %>
        <li class = "icons"><%= link_to 'Log In', new_user_session_path %></li>
        <li class = "icons"><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
  </ul>
</nav>
