<div class = 'header'>
	<ul>
        <li class = "icons"><%= link_to(image_tag('rocket.png', :size=>'30x30'), root_path) %></li>
        <% if user_signed_in? %>
          <li class = "icons"><%= link_to(image_tag('flask.png', :size=>'30x30'), problems_path) %></li>
          <li class = "icons"><%= link_to(image_tag('geek.png', :size=>'30x30'), current_user) %></li>
          <li class = "icons"><%= link_to(image_tag('tools2.png', :size=>'30x30'), edit_user_registration_path)  %></li>

        	<li class = "icons"><%= link_to(image_tag('logout.png', :size=>'30x30'), destroy_user_session_path, method: :delete)  %></li>

        <% else %>
          <li class = "icons"><%= link_to(image_tag('login.png', :size=>'30x30'), new_user_session_path)  %></li>
        <% end %>
        
      </ul>
</div>
